@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
:root {
  --mint: #84dcc6;
  --black:#2f323f;
  --grey: grey;
  --grey-c: #ccc;
  --white: #eeecec;
  --bg-color:#fcf2e8;
  --box-shadow:.4rem .4rem 1rem #ccc,
              -.4rem -.4rem 1rem #fff;
  --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                      -.4rem -.4rem 1rem #fff inset;
}

* {
  font-family: "Source Code Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
  line-height: 1.5;
  color: var(--black);
}

*::selection {
    background: var(--black);
    color: var(--mint);
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  padding-left: 30rem;
}

section {
  padding: 1rem 5%;
  min-height: 100vh;
  border: 1px solid var(--grey-c);
  box-shadow: var(--box-shadow);
}

.heading {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading span {
  color: var(--mint);
  text-transform: uppercase;
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--mint);
  color: var(--white);
  border-radius: .5rem;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

#theme-toggler {
  position: fixed;
  top: 6.5rem;
  right: 1rem;
  border-radius: .5rem;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  background-color: var(--mint);
  text-align: center;
  color: var(--white);
  z-index: 10000;
}

.theme.active {
  height: 18rem;
  border-top: 1px solid var(--white);
}

.bg {
  position: fixed;
  top: 9.5rem;
  right: 3rem;
  border-radius: .5rem;
  font-size: 3rem;
  padding: 1rem 0;
  text-align: center;
  z-index: 20000;
}

.bg span {
  display: block;
  width: 2rem;
  height: 2rem;
  display: none;
  border-radius: 50%;
  margin: 1.5rem 0;
  box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
              0 1rem 2rem rgba(0,0,0,.4);
  cursor: pointer;
  transition: .5s all linear;
}

.bg.active span {
  display: block;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--grey);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 20000;
}

.cursor-1.active {
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid var(--grey);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 20000;
    transition: .3s linear;
}

.cursor-2.active {
    display: none;
}

.btn-ctn,
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--mint);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
}

.btn-ctn {
  box-shadow: var(--box-shadow);
}

.btn-ctn:hover {
  background: var(--black);
}

.btn:hover {
  background:var(--black);
  letter-spacing: .2rem;
  box-shadow: var(--box-shadow);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30rem;
  padding: 8rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  z-index: 1000;
  background: var(--black);
}

header .logo {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--white);
  text-transform: uppercase;
}

header .logo span {
  color: var(--mint);
  text-transform: uppercase;
}

header .navbar a {
  display: block;
  font-size: 2rem;
  color: var(--white);
  margin: 2rem 0;
  text-transform: capitalize;
}

header .navbar a:hover {
  letter-spacing: .2rem;
  color: var(--mint);
}

header .share a {
  margin: 0 .7rem;
  font-size: 2.5rem;
  color: var(--white);
}

header .share a:hover {
  transform: scale(1.2);
  color: var(--mint)
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content .hi {
  font-size: 2rem;
  color: var(--mint);
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--mint);
  text-transform: uppercase;
}

.home .content .info {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  border-radius: .5rem;
}

.about .row-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.about .row-1 .image {
  flex:1 1 25rem;
}

.about .row-1 .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1rem solid var(--white);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem var(--box-shadow);
}

.about .row-1 .content {
  flex: 1 1 50rem;
}

.about .row-1 .content h3 {
  color: var(--black);
  font-size: 3.5rem;
  text-transform: capitalize;
}

.about .row-1 .content p {
  color: var(--grey);
  font-size: 1.6rem;
  padding:.5rem 0;
  text-transform: capitalize;
}

.about .row-1 .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box {
  flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span {
  color:var(--mint);
}

.about .row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row-2 .skills {
  flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
  padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
  display: flex;
  justify-content: space-between;
  padding: .7rem 0;
  font-size: 1.7rem;
  color: var(--black);
  font-weight: 400;
}

.about .row-2 .skills .progress .bar {
  width: 100%;
  background: var(--grey);
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span {
  display: block;
  height: 100%;
  background: var(--mint);
  border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span {
  width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span {
  width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span {
  width: 75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span {
  width: 85%;
}

.edu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.edu .box-container .box {
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: var(--white);
}

.edu .box-container .box i {
  font-size: 4rem;
  padding-bottom: 5rem;
  color: var(--white);
}

.edu .box-container .box h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: var(--black);
  text-transform: capitalize;
}

.edu .box-container .box p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--grey);
  text-transform: capitalize;
}

.edu .box-container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--mint);
  z-index: -1;
  clip-path: circle(9rem at 5% 0%);
  transition: .3s linear;
}

.edu .box-container .box:hover::before {    
  clip-path: circle(100%);
}

.edu .box-container .box:hover > p {
  color: var(--black);
}

.exp .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

.exp .box-container .box {
  position: relative;
  border-left: .2rem solid var(--mint);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;    
}

.exp .box-container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--mint);
}

.exp .box-container .box .content {
  background: var(--white);
  padding: 1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.exp .box-container .box .content span {
  color: var(--white);
  font-size: 1.7rem;
  background:var(--mint);
  border-radius: 50rem;
  padding: .4rem 1rem;
}

.exp .box-container .box .content h3 {
  font-size: 2.5rem;
  padding: .5rem 0;
  color: var(--black);
  text-transform: capitalize;
}

.exp .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--grey);
  text-transform: capitalize;
}


.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.portfolio .box-container .box {
  height: 30rem;
  position: relative;
  overflow: hidden;
  border: 1rem solid var(--white);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: var(--white);
  border-radius: .5rem;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  position: relative;
  z-index: 1;
}

.portfolio .box-container .box:hover img {
  height: 75%;
  width: 75%;
}

.portfolio .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
}

.portfolio .box-container .box .description {
  font-size: 1.6rem;
  color: var(--grey);
  display: none;
}

.portfolio .box-container .box .description.active {
  display: block;
}

.portfolio .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.portfolio .box-container .box .icons p,
.portfolio .box-container .box .icons a {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: .5rem;
  background: var(--white);
  color:var(--black);
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.portfolio .box-container .box .icons p:hover,
.portfolio .box-container .box .icons a:hover {
  background: var(--mint);
  color: var(--white);
}

#contact {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  opacity: 0.8;
}

.contact-form {
  position: relative;
  background-color: var(--mint);
}

.contact-form h3 {
  font-size: 2.6rem;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 13rem;
  height: 13rem;
  top: 13rem;
  right: -4rem;
}

.circle.two {
  width: 8rem;
  height: 8rem;
  top: 1rem;
  right: 3rem;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--mint);
  transform: rotate(45deg);
  top: 5rem;
  left: -1.3rem;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: var(--white);
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid var(--white);
  background: none;
  padding: 0.6rem 1.2rem;
  color: var(--white);
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.6rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: var(--mint);
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.4rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  position: relative;
  margin: 2.3rem 2.2rem;
}

.contact-info .title {
  color: var(--mint);
  font-size: 2.6rem;
}

.text {
  color: var(--black);
  font-size: 1.6rem;
  margin: 1.5rem 0 2rem 0;
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 10.1rem;
  height: 10rem;
  border: 22px solid #40D3DC;
  border-radius: 50%;
  bottom: -7.7rem;
  right: 5rem;
  opacity: 0.3;
}

.credits {
  font-size: 2rem;
  padding: 2.5rem 1rem;
  text-align: center;
  margin-top: 1rem;
  text-transform: capitalize;
  color: var(--black);
}

.credits span {
  color: var(--mint);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 0;
  }

  #menu-bars {
    display: initial;
  }

  header {
    left: -120%;
  }

  header.active {
    left: 0%;
    transition: .4s linear;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -7.5rem;
    right: 6.5rem;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -1.3rem;
    left: initial;
    right: 7rem;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }
}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  header{
      width: 100%;
  }

  .contact-info:before {
    display: none;
  }

  .big-circle {
    display: none;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }
}